@charset "UTF-8";
/* 버튼 - content.css, layout.css */
/* header */
#container {
  width: 100%;
  position: relative;
}

.header-banner {
  height: 40px;
  background-color: #edf1f5;
  color: #333;
  position: relative;
  z-index: 3; /* 250327  (ej) */
}

.header-banner .inner {
  width: 94%;
  max-width: 1180px;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.header-banner .text {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16px; /* 250321 (ej) */
  padding-left: 37px;
  background: url("../images/common/img_header_flag.png") no-repeat 0 center;
}

.banner-link-box {
  position: absolute;
  right: 0;
  font-size: 0;
  top: 6px;
}

.banner-link-box li {
  display: inline-block;
  font-size: 16px; /* 250321 font size (ej) */
  font-weight: 400;
  margin-right: 21px;
}

.banner-link-box li:last-child {
  margin-right: 0;
}

.banner-link-box .link {
  color: #333;
  position: relative;
  padding: 5px 24px 5px 28px;
  background: url("../images/common/ico_banner_arrow.svg") no-repeat right 12px center;
  font-weight: 500;
  display: inline-block;
}

.banner-link-box .link::before {
  content: "";
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.banner-link-box .link.dictionary::before {
  background: url("../images/common/ico_dictionary.png") no-repeat center;
}

.banner-link-box .link.status::before {
  background: url("../images/common/ico_status.png") no-repeat center;
}

.banner-link-box .link.archive::before {
  background: url("../images/common/ico_archive.png") no-repeat center;
}

.header {
  position: sticky;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #D8D8D8;
  height: 100px;
  /*  overflow:hidden;  */ /* 250327  (ej) */
  /*  transition:.3s ease;  */ /* 250327  (ej) */
}

.header.overflow {
  overflow: visible;
} /* 250327  (ej) */
.header .inner {
  height: 100%;
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  width: 94%;
  transition: 0.4s ease;
  box-sizing: border-box;
  background: #fff; /* 250327  (ej) */
}

.header .logo-box {
  position: absolute;
  left: 0;
  top: 50%;
  transition: 0.3s ease;
  display: inline-block;
  transform: translateY(-50%);
}

.header .logo { /* 250526 로고 수정 (yz) */
  display: block;
  height: 42px; /* 250401  (ej) */
  width: 194px; 
  background: url("../images/common/logo.svg") no-repeat center;
  text-indent: -99999px;
  transition: 0.2s ease;
}

.header .dim {
  position: absolute;
  left: 0;
  right: 0;
  top: 99px; /* 250327  (ej) */
  width: 100%;
  /* height: 204px; */
  /* 250327  (ej) */
  height: 1px;
  display: block;
  transition: 0.3s ease;
  background-color: #fff;
  border-top: 1px solid #D8D8D8;
  /* //250327  (ej) */
}

.header .dim.dim-open { /* 250327  (ej) */
  transform: translateY(0);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  /* border-top: 1px solid #DDDDDD; */
  border-bottom: 1px solid #DDDDDD;
  height: 226px; /* 250327  (ej) */
}

.header .dim.active {
  display: block;
}

.header-gnb {
  /* position: absolute;*/
  left: 248px; /* 250321 (ej) */
  z-index: 1;
  text-align: center; /* 250403 (ej) */
}

.header-gnb .depth1 {
  font-size: 0;
  position: relative; /* 250319 (ej) */
  display: inline-block; /* 250403 (ej) */
}

.header-gnb .depth1-item {
  /* position: relative; */ /* 250319 (ej) */
  display: inline-block;
}

.header-gnb .depth1-item:nth-child(4) {
  position: relative;
} /* 250319 (ej) */
.header-gnb .depth1-item:nth-child(4) > .depth2 {
  left: 35px;
} /* 250319 (ej) */
.header-gnb .depth1-item:nth-child(5) {
  position: relative;
} /* 250319 (ej) */
.header-gnb .depth1-item:nth-child(5) > .depth2 {
  right: 0px;
  left: auto;
} /* 250319 (ej) */
.header-gnb .depth1-item > a {
  display: block;
  margin: 31px 20px; /* 250407 (ej) */
  font-size: 30px; /* 250407 (ej) */
  font-weight: 600; /* 250407 (ej) */
  color: #166235;
  transition: 0.3s ease;
  position: relative; /* 250317 (ej) */
}

.header-gnb .depth1-item > a::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #dbdbdb;
  position: absolute;
  left: -20px; /* 250319 (ej) */
  top: 50%;
  transform: translateY(-50%);
}

.header-gnb .depth1-item:first-child > a::before {
  display: none; /* 250319 (ej) */
}

.header-gnb .depth1-item:first-child > a {
  margin-left: 0; /* 250318 기존 padding 변경 (ej) */
}

.header-gnb .depth1-item:last-child > a {
  margin-right: 0; /* 250318 기존 padding 변경 (ej) */
}

.header-gnb .depth1-item:hover > a {
  color: #166235;
}

.header-gnb .depth1-item.active > a::after, .header-gnb .depth1-item:hover > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #166235;
}

.header-gnb .depth2 {
  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  padding: 26px 0 0 0; /* 250327 (ej) */
  width: auto;
  font-size: 0;
  min-width: 100%; /* 250319 (ej) */
  /* 250327 (ej) */
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 0 50px; /* 250321 (ej) */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0s linear 0.1s;
  /* // 250327 (ej) */
  text-align: left; /* 250403 (ej) */
}

.header-gnb .depth2.active { /* 250327 (ej) */
  left: 0;
  opacity: 1;
  visibility: visible;
}

.header-gnb .depth2-item {
  display: block;
  /* width: 100%; */ /* 250319 (ej) */
  min-height: 100px;
  margin-top: 0px;
  flex-grow: 1;
}

.header-gnb .depth2-item:first-child {
  min-height: 130px;
  margin-top: 0;
}

.header-gnb .depth2-item:nth-child(3) {
  min-height: 70px;
}

.header-gnb .depth2-item:nth-child(4) {
  min-height: auto;
}

.header-gnb .depth2-item:hover .depth3-wrap {
  display: block;
}

.header-gnb .depth2-item:hover > a {
  color: #166235;
}

.header-gnb .depth2-item:hover .depth3-item a {
  color: #166235;
}

.header-gnb .depth2-item > a {
  word-break: keep-all;
  position: relative;
  display: inline-block; /* 250319 (ej) */
  padding: 3px 0; /* 250321 font size (ej) */
  width: auto;
  /* min-width: 110px; */ /* 250321 font size (ej) */
  font-size: 18px; /* 250321 font size (ej) */
  color: #333;
  font-weight: 700;
  box-sizing: border-box;
  white-space: nowrap; /* 250321 font size (ej) */
}

.header-gnb .depth2-item > a::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 7px; /* 250321 font size (ej) */
  width: 10px;
  height: 14px;
  background: url("../images/common/ico_asterisk.png") no-repeat center;
  vertical-align: middle;
  transition: 0.15s ease;
  display: none; /* 250321 font size (ej) */
}

.header-gnb .depth2-item > a.active::before, .header-gnb .depth2-item > a:hover::before {
  background: url("../images/common/ico_asterisk-g.png") no-repeat center;
}

.header-gnb .depth3 {
  margin-top: 10px;
}

.header-gnb .depth3-item {
  display: block; /* 250319 (ej) */
  position: relative;
  /*   margin-left: 15px; */ /* 250321 (ej) */
}

.header-gnb .depth3-item > a {
  display: block;
  padding: 4px 0px 4px 10px; /* 250321 (ej) */
  width: auto;
  font-size: 17px; /* 250321 font size (ej) */
  font-weight: 400;
  box-sizing: border-box;
  width: -moz-max-content;
  width: max-content; /* 250317 (ej) */
}

.header-gnb .depth3-item > a::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 12px;
  width: 3px;
  height: 3px;
  border-radius: 50px;
  background-color: #333;
  vertical-align: middle;
  content: "";
}

.header-gnb .depth1-item:hover .depth3-item > a::before {
  background: #166235;
}

.header-gnb .depth3-item > a:hover {
  text-decoration: underline;
} /* 250324 font size (ej) */
/* 250317 header 수정 (ej) */
.header-search-btn {
  position: absolute;
  top: 50%;
  right: 110px;
  transform: translateY(-50%);
  padding: 5px 10px;
  height: 38px;
  border-radius: 40px;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  z-index: 1;
  width: auto;
  background: transparent;
  border-radius: 0;
}

.header-search-btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/common/ico_header_search2.png") no-repeat center;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
}

/* 250317 header 수정 (ej) */
.header-sitemap-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 5px 10px;
  height: 38px;
  border-radius: 40px;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  z-index: 1;
  width: auto;
  background: transparent;
  display: inline-flex;
  align-items: center;
}

.header-sitemap-btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/common/ico_header_sitemap.png") no-repeat center;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
}

/* url("../images/common/ico_mobile_ham.png") */
/* 250317 header 수정 (ej) */
body.pc .header:hover::before {
  opacity: 1;
}

body.tablet .header.white::before {
  opacity: 0;
}

body.pc .header:hover .header__inner, .sub .header .header__inner {
  background-color: #fff;
}

.wrap.sub .header::before {
  opacity: 1;
}

.wrap.sub .header .mobile-menu i,
.wrap.sub .header .mobile-menu i:last-child::before {
  background-color: #333 !important;
}

.wrap .header:hover .header__gnb > ul > li > a,
.wrap .header.white .header__gnb > ul > li > a,
.wrap.sub .header__inner .header__gnb > ul > li > a {
  color: #333;
}

.pc .wrap .header .mobile-gnb-wrap {
  display: none;
}

.wrap .header .mobile-gnb-wrap {
  display: none;
  position: fixed;
  top: 112px;
  left: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  /* height: calc(100vh - 110px); */
  height: calc(100vh - 54px); /* 250317 (ej) */
  box-sizing: border-box;
  transition: 0.5s ease;
  z-index: 100;
}

.wrap .header .mobile-gnb-wrap.active {
  display: block;
}

.wrap .header .mobile-gnb-wrap .banner-link-box {
  position: static;
  display: block;
  width: 100%;
  height: 52px;
  padding: 10px 24px;
  background: #FFFFFF;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 1px solid #ddd; /* 250317 (ej) */
}

.wrap .header .mobile-gnb-wrap .banner-link-box::-webkit-scrollbar {
  display: none;
}

.wrap .header .mobile-gnb-wrap .header-search-box {
  position: relative;
  display: block;
  padding: 0 24px;
  padding-bottom: 16px;
  background: #FFFFFF;
  border-bottom: 4px solid #E4E4E4;
}

.wrap .header .mobile-gnb-wrap .header-search-box .inp {
  width: 100%;
  padding-right: 48px;
  border: 1px solid #2d2d2d;
  border-radius: 8px;
  font-size: 17px;
  color: #333;
  height: 48px;
  font-weight: 300;
}

.wrap .header .mobile-gnb-wrap .header-search-box .inp::-moz-placeholder {
  color: #767676;
}

.wrap .header .mobile-gnb-wrap .header-search-box .inp::placeholder {
  color: #767676;
}

.wrap .header .mobile-gnb-wrap .header-search-box button {
  position: absolute;
  top: 0;
  right: 24px;
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url("../images/common/ico_mobile_srch.png") center no-repeat;
}

.mobile-btn {
  padding: 25px 0 0 0;
  width: 50px;
  height: 48px;
  background-position: top 5px center;
  background-image: url("../images/common/ico_mobile_ham.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  text-indent: 1px;
  transition: 0.25s ease;
}

.mobile-btn.close {
  background-image: url("../images/common/ico_close2.png");
  background-position: center;
}

.mobile-btn.close span {
  color: transparent;
}

.mobile-gnb-close { position: absolute;top: -64px;right: 15px;width: 50px; height: 48px; background-color: red;
  padding: 25px 0 0 0;
  width: 50px;
  height: 48px;
  background-image: url("../images/common/ico_close2.png");
  background-position: top 5px center;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 16px;
  text-indent: 1px;
  transition: 0.25s ease;
  font-size: 13px;
  font-weight: 400;
}  


.mobile-btn.close span {
  color: transparent;
}



.mobile-btn-box {
  display: none;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.mobile-btn span {
  font-size: 13px;
  font-weight: 400;
  color: #1D1D1D;
}

.mobile-gnb {
  background-color: #FFFFFF;
  padding-bottom: 60px;
  width: 100%;
  height: calc(100% - 110px);
  overflow-y: auto;
}

.mobile-gnb .depth1-item {
  border-top: 4px solid #E4E4E4;
}

.mobile-gnb .depth1-item:first-child {
  border-top: 0;
}

.mobile-gnb .depth1-item > a {
  position: relative;
  display: block;
  padding: 17px 24px;
  font-size: 19px;
  font-weight: 700;
  color: #166235;
}

.mobile-gnb .depth1-item > a.dropdown::after {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/common/ico_dropdown.png") center no-repeat;
  transition: 0.2s ease;
  content: "";
}

.mobile-gnb .depth1-item > a.active::after {
  transform: translateY(-50%) rotate(180deg);
}

.mobile-gnb .depth2 {
  display: none;
  padding: 8px 0 16px 24px;
  border-top: 1px solid #D8D8D8;
  font-size: 17px;
  font-weight: 400;
}

.mobile-gnb .depth2.active {
  display: block;
}

.mobile-gnb .depth2-item > a {
  position: relative;
  display: block;
  padding: 18px 0;
}

.mobile-gnb .depth2-item > a span {
  vertical-align: middle;
}

.mobile-gnb .depth2-item > a .icon {
  display: inline-block;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  background: url("../images/common/ico_dropdown.png") center no-repeat;
  vertical-align: middle;
  transition: 0.2s ease;
  content: "";
}

.mobile-gnb .depth2-item > a.active .icon {
  transform: rotate(180deg);
}

.mobile-gnb .depth3 {
  display: none;
  padding-left: 10px;
  padding-bottom: 16px;
}

.mobile-gnb .depth3.active {
  display: block;
}

.mobile-gnb .depth3-item > a {
  display: block;
  padding: 14px 0;
}

.mobile-gnb .depth3-item > a::before {
  display: inline-block;
  margin-right: 8px;
  width: 3px;
  height: 3px;
  border-radius: 50px;
  background-color: #555;
  vertical-align: middle;
  content: "";
}

.dim {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

/* footer */
.footer {
  border-top: 1px solid #CCCCCC;
}

.footer .logo-box {
  display: inline-block;
}

.footer .logo-box a {
  display: block;
}

.footer .site-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
  max-width: 1180px;
  width: 100%;
  box-sizing: border-box;
}

.footer .site-wrap .swiper-title {
  display: inline-block;
  /* padding-left: 40px; */ /* 250328  (ej) */
  padding-left: 0; /* 250328  (ej) */
  font-size: 20px;
  font-weight: 500;
  vertical-align: middle;
  word-break: keep-all;
}

.footer .site-wrap .swiper-container {
  display: inline-block;
  width: 1100px; /* 250331  (ej) */
  padding: 0 46px; /* 250328  (ej) */
  vertical-align: middle;
  overflow: hidden;
}

.footer .site-wrap .swiper-slide a {
  display: block;
  padding: 0 5px; /* 250331  (ej) */
  width: 100%;
  /* max-width: 220px;  */ /* 250328  (ej) */
  text-align: center;
  border: 1px solid #CCCCCC;
  height: 65px; /* 250331 (ej) */
  border-radius: 10px;
  font-size: 19px;
  font-weight: 600; /*line-height: 48px;*/
  transition: 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer .site-wrap .swiper-slide a::after {
  content: "";
  vertical-align: middle;
  margin: 0 0 0 4px;
  display: inline-block;
  background: url("../images/common/ico_newpage.png") center;
  width: 17px; /* 250331  (ej) */
  height: 17px; /* 250331  (ej) */
}

.footer .site-wrap .swiper-slide a:hover {
  border-color: #666;
}

.footer .site-wrap .swiper-wrapper {
  width: 100%;
  max-width: 920px;
}

.footer .site-wrap .swiper-button {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 70px; /* 250331  (ej) */
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
}

.footer .site-wrap .swiper-button.prev {
  left: 0;
  background-image: url("../images/common/ico_arrow-r.png");
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%) rotate(180deg);
}

.footer .site-wrap .swiper-button.next {
  right: 0;
  background-image: url("../images/common/ico_arrow-r.png");
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.footer-info {
  padding: 40px 0;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  color: #333;
}

.footer-info .info-desc {
  margin-top: 20px; /* 250328  (ej) */
  font-size: 17px;
  color: #111;
  word-break: keep-all; /* 250318 (ej) */
  font-weight: 300; /* 250328  (ej) */
}

.footer-info .info-desc li {
  margin-bottom: 5px; /* 250331  (ej) */
}

.footer-info .info-desc li:first-child { /* 250331  (ej) */
  margin-bottom: 10px;
}

.footer-info .info-desc li:last-child { /* 250331  (ej) */
  margin-bottom: 0;
}

.footer-info .info-desc li p {
  line-height: 150%;
} /* 250328  (ej) */
.footer-info .info-desc em {
  font-weight: 600;
}

.footer-info .link {
  position: relative;
  display: inline-block;
  font-size: 17px;
  position: relative;
  padding: 0 14px;
}

.footer-info .link::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #ddd;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-info .link:first-child {
  padding-left: 0;
}

.footer-info .link:first-child::before {
  display: none;
}

.footer-info .link a {
  position: relative;
  display: block; /* 250331  (ej) */
  padding-right: 25px; /* 250331  (ej) */
}

.footer-info .link a::after {
  content: "";
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
  /* 250331  (ej) */
  margin-top: 0px;
  width: 17px;
  height: 17px;
  background: url("../images/common/ico_newpage.png") center no-repeat;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 5px;
  /* // 250331  (ej) */
}

.footer-info .link-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* 250328  (ej) */
  font-size: 17px;
  font-weight: 600;
  color: #111;
}

.footer-info .link-wrap .mailing-service {
  position: relative;
  padding: 0 20px 0 25px; /* 250321 (ej) */
  font-size: 17px;
}

.footer-info .link-wrap .mailing-service::before, .footer-info .link-wrap .mailing-service::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  content: "";
}

.footer-info .link-wrap .mailing-service::before {
  left: 0;
  background: url("../images/common/ico_mail.png") center no-repeat;
}

.footer-info .link-wrap .mailing-service::after {
  right: 0;
  background: url("../images/common/ico_arrow-s.png") center no-repeat;
}

.footer-info .link-list {
  font-size: 0;
}

.footer-info .copyright {
  margin-top: 10px;
  border-top: 1px solid #DDDDDD;
}

.footer-info .copyright p {
  display: block;
  margin-top: 5px;
  font-size: 16px; /* 250321 font size (ej) */
  font-weight: 300; /* 250328 (ej) */
  color: #666;
  line-height: 22.5px;
  text-align: right;
}

.search.global-search {
  display: none;
  position: absolute;
  padding: 40px 0;
  margin-top: 0;
  background: #FAF9F3;
  border-bottom: 1px solid #DDD;
  z-index: 10;
  left: 0;
  width: 100%;
}

.search.global-search .inner {
  position: static;
  width: 815px;
}

.search.global-search .search__col {
  margin-top: 0;
}

.search.global-search .search-filtering__input-box {
  max-width: 815px;
  width: 100%;
  min-width: 300px;
  display: inline-flex;
  align-items: end;
  position: relative;
}

.search.global-search .search-filtering__input-box .search-filtering__input {
  overflow: hidden;
  width: calc(100% - 18px);
  height: 45px;
  display: inline-block;
  padding: 5px 140px 5px 80px;
  border: 0;
  border-radius: 0;
  transition: 0.4s ease;
  border-bottom: 2px solid #d71921;
  background: url("../images/main/ico_search_character.png") no-repeat 17px 10px;
  font-size: 18px;
}

.search.global-search .search-filtering__input-box .search-filtering__input:focus {
  outline: none;
  background: url("../images/main/ico_search_character_on.png") no-repeat 17px 100%;
  border-color: #ff9d31;
  animation: borderColor 5s infinite;
}

.search.global-search .search-filtering__input-box .search-filtering__input::-moz-placeholder {
  color: #767676;
}

.search.global-search .search-filtering__input-box .search-filtering__input::placeholder {
  color: #767676;
}

.search.global-search .search-filtering__input-button {
  background-color: #d71921;
  color: #fff;
  border-radius: 100px;
  min-width: 140px;
  text-align: center;
  font-size: 18px;
  height: 46px;
  font-weight: 500;
  position: absolute;
  right: 0;
  transition: 0.3s ease;
}

.search.global-search .search-filtering__input-button:hover {
  background-color: #ba1118;
}

.search.global-search .search-filtering__input-button::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/main/ico_search.png") no-repeat center;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: -10px;
}

.search.global-search .close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.search.global-search .close .icon {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url("../images/common/ico_close2.png") center no-repeat;
  vertical-align: middle;
  text-align: center;
}

.search.global-search.active {
  display: block;
}

.search-filtering__col {
  align-items: center;
}

.search-filtering__col .input--chk {
  margin: 0 0 0 16px;
  height: 100%;
}

.search-filtering__col .input--chk input {
  width: 20px;
  height: 20px;
}

.search__input-box .search__input {
  border-radius: 0;
}

.search__tag-box {
  margin-top: 37px;
  display: flex;
  gap: 20px;
}

.search__tag-title {
  display: inline-block;
  margin-top: 2px;
  min-width: 76px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.search__tag-list {
  font-size: 0;
}

.search__tag-item {
  display: inline-block;
  margin: 3px 5px;
  padding: 6px;
  min-width: 100px;
  min-height: 32px;
  background-color: #fff;
  border: 1px dashed #FFA038;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}

.search__tag-item:hover {
  background: #FFF9E8;
}

.rcd_word {
  display: none;
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid #d71921;
}

.rcd_word ul {
  max-height: 145px;
  overflow-y: auto;
}

.rcd_word a {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  transition: 0.3s ease;
  text-align: left;
  font-weight: 500;
}

.rcd_word a:hover {
  background-color: #eee;
}

.search-filtering__input-box.active .rcd_word {
  display: block;
}

/* modal popup */
.b-modal {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-wrap {
  position: fixed !important;
  left: 0;
  top: 0 !important;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-wrap .modal-cont-wrap::-webkit-scrollbar { /* 250328 (ej) */
  width: 7px;
  height: 5px;
}

.modal-wrap > .f_wrapper {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translateY(-50%) translateX(-50%);
  padding: 40px;
  margin: auto;
  width: 95%;
  max-width: 1180px;
  max-height: 95vh;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.modal-wrap.type2 > .f_wrapper {
  max-width: 600px;
}

.modal-wrap.type3 > .f_wrapper {
  max-width: 700px;
}

.modal-wrap.type4 > .f_wrapper {
  max-width: 1080px;
}

.modal-wrap.type5 > .f_wrapper {
  max-width: 845px;
}

.modal-wrap.type6 > .f_wrapper {
  max-width: 800px;
}

.modal-wrap.type7 > .f_wrapper {
  max-width: 1200px;
}

.modal-wrap.type8 > .f_wrapper {
  max-width: 1360px;
}
.modal-wrap.auto-height .modal-cont { /* 250407 (ej) */
  min-height: auto;
}

.modal-wrap .tit-h2, .modal-wrap .tit-h3, .modal-wrap .tit-h4 {
  position: relative;
  margin-bottom: 9px;
}

.modal-wrap .tit-h2::before, .modal-wrap .tit-h3::before, .modal-wrap .tit-h4::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 3px;
  height: 3px;
  background: #eee;
  border-radius: 3px;
}

.modal-wrap .modal-head {
  position: relative;
  text-align: center;
}

.modal-wrap .modal-head h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 600; /* 250407 (ej) */
  color: #333;
}

.modal-wrap .modal-head h2.type2 {
  font-size: 24px;
}

.modal-wrap .modal-head h2 + p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
}

.modal-wrap .modal-cont-wrap {
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
  max-height: calc(95vh - 125px); /* 250401 기존 60px (ej) */
  overflow-y: auto;
  border-radius: 2px;
}

.modal-wrap .modal-cont-wrap h3 {
  margin: 0;
}

.modal-wrap .modal-cont {
  margin-top: 20px;
  min-height: 160px;
  box-sizing: border-box;
  height: 100%;
  font-size: 17px;
}

.modal-wrap .modal-cont .inner2 {
  margin: 0 auto;
  max-width: 780px;
}

.modal-wrap .modal-cont .cont-top {
  margin-bottom: 12px;
}

.modal-wrap .modal-cont .btn-block {
  margin-top: 30px;
}

.modal-wrap .modal-cont .cont-txt {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin-top: 15px;
}

.modal-wrap .modal-cont .search-box {
  font-size: 14px;
}

.modal-wrap .modal-cont .search-box label {
  color: #333;
}

.modal-wrap .modal-cont .inp-group {
  margin: 0 -13px;
}

.modal-wrap .modal-cont .inp-group .inp {
  margin: 0 13px;
}

.modal-wrap .modal-cont .inp-group button {
  font-weight: 300;
}

.modal-wrap .modal-cont .board-search {
  display: flex;
}

.modal-wrap .modal-cont .board-search button {
  width: 100px;
}

.modal-wrap select.select:not(.ui-datepicker-year):not(.ui-datepicker-month) {
  max-width: 432px;
  height: 49px;
  font-size: 17px;
  color: #666;
  border: 1px solid #666;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #f8f8f8;
  width: 100%;
  padding-left: 16px;
}

.modal-wrap .modal-close {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 30px;
  height: 30px;
  text-indent: -99999px;
  overflow: hidden;
  background: url("../images/common/ico_close2.png") no-repeat 50% 50%;
}

.modal-wrap .modal-basic {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin: 30px 0 0;
}

.modal-wrap .basic {
  padding-left: 0;
  color: #666;
}

.modal-wrap .gray-box {
  padding: 30px 45px;
}

.modal-wrap .tbl-view td {
  background-color: transparent;
}

.modal-wrap.on {
  display: block;
}

.modal-wrap.modal-type-img .f_wrapper {
  max-width: 1000px;
  width: auto;
  min-width: 200px;
}

.modal-wrap.modal-type-img .modal-cont-wrap {
  padding-bottom: 0;
}

.modal-wrap.modal-type-img .modal-cont {
  padding: 0;
}

.modal-wrap .cancel-btn {
  margin-top: 14px;
}

.modal-wrap .modal-btn-box {
  width: 100%;
  text-align: center;
  height: 58px;
}

.modal-wrap .popup-btn {
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  height: 100%;
}

.modal-wrap .btn-box {
  margin: 38px -10px 0;
  text-align: center;
}

.modal-wrap .btn-box .btn {
  height: 40px;
  padding: 7px 10px;
  max-width: 160px;
  font-weight: 600;
  margin: 0 10px;
  width: 100%;
}

.modal-wrap .btn-box .btn.btn1 {
  background: #003586;
  border: 1px solid #003586;
  color: #fff;
}

.modal-wrap .btn-box .btn.btn1:hover {
  background-color: #062657;
}

.modal-wrap .btn-box .btn.btn2 {
  border: 2px solid #003586;
  color: #003586;
  background: none;
  width: 100%;
}

.modal-wrap .btn-box .btn.btn2:hover {
  background-color: #f0f1f7;
}

.modal-wrap .btn-box .btn.btn3 {
  background-color: #003586;
  color: #fff;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #fff;
  color: #003586;
  border: 2px solid #003586;
  z-index: 1;
}

.modal-wrap .btn-box .btn.btn3:hover {
  color: #003586;
}

.modal-wrap .btn-box .btn.btn3::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  box-sizing: border-box;
  border: 2px solid #003586;
  color: #003586;
  z-index: -1;
  transition: 0.3s ease;
}

.modal-wrap .btn-box .btn.btn3:hover::after {
  height: 100%;
  opacity: 1;
  background-color: #fff;
  border-color: #003586;
  color: #003586;
}

.modal-wrap .btn-box .btn.btn3:hover {
  color: #fff;
}

.modal-wrap .btn-box .btn.btn3::after {
  z-index: -1;
  background-color: #003586;
  border-width: 1px;
  top: -2px;
}

.modal-wrap .btn-box .btn.btn3:hover::after {
  background-color: #003586;
  border-width: 2px;
  top: 0;
}

.modal-wrap .btn-box .btn.btn4 {
  background-color: #003586;
  color: #fff;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.modal-wrap .btn-box .btn.btn4:hover {
  color: #003586;
}

.modal-wrap .btn-box .btn.btn4::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  box-sizing: border-box;
  border: 2px solid #003586;
  color: #003586;
  z-index: -1;
  transition: 0.3s ease;
}

.modal-wrap .btn-box .btn.btn4:hover::after {
  height: 100%;
  opacity: 1;
  background-color: #fff;
  border-color: #003586;
  color: #003586;
}

.modal-wrap .btn-box .btn.btn4:hover {
  border: 0;
}

.modal-wrap .pagination--text p {
  font-size: 16px;
  font-weight: 600;
}

.modal-wrap .pagination--text span {
  color: #333;
  font-size: 16px;
}

.modal-wrap.open {
  display: block;
}

@keyframes itemFade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 메인 팝업 */
.modal-wrap.popup-zone {
  position: fixed !important;
  left: 0;
  top: 0 !important;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrap.popup-zone .f_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-wrap.popup-zone .modal-head {
  padding: 14px 20px;
  background: #000;
  height: 60px;
}

.modal-wrap.popup-zone .modal-head h2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  font-family: "pretendard";
}

.modal-wrap.popup-zone .modal-cont {
  padding: 40px;
  box-sizing: border-box;
}

.modal-wrap.popup-zone .modal-cont .modal__chk {
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: inline-block;
  font-size: 0;
  z-index: 999;
}

.modal-wrap.popup-zone .modal-cont .modal__chk label {
  margin-left: 8px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}

.modal-wrap.popup-zone .modal-cont .modal__chk input[type=checkbox] {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-wrap.popup-zone .modal-cont .modal__chk input[type=checkbox]::before {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  content: "";
}

.modal-wrap.popup-zone .modal-cont .modal__chk input[type=checkbox]:checked::before {
  background: url("../images/main/ico_modal_chk.png") center no-repeat;
}

.modal-wrap.popup-zone .swiper-slide {
  width: 33.3333333333%;
  box-sizing: border-box;
}

.modal-wrap.popup-zone .swiper-slide a {
  display: block;
  transform: scale(0.65);
  transition: 0.3s ease;
}

.modal-wrap.popup-zone .swiper-slide .img {
  width: 500px;
  height: 620px;
  overflow: hidden;
  border-radius: 80px;
  border: 15px solid #fff;
}

.modal-wrap.popup-zone .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal-wrap.popup-zone .swiper-slide-active a {
  transform: scale(1);
}

.modal-wrap.popup-zone .swiper__controller {
  margin-top: 20px;
  height: 40px;
  font-size: 0;
  text-align: center;
}

.modal-wrap.popup-zone .swiper__controller .swiper__pagination {
  display: inline-block;
  padding: 12px;
  width: auto;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  box-sizing: border-box;
}

.modal-wrap.popup-zone .swiper__controller .swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  border-radius: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  opacity: 1;
  text-indent: -99999px;
}

.modal-wrap.popup-zone .swiper__controller .swiper-pagination-bullet::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background: #999;
  content: "";
}

.modal-wrap.popup-zone .swiper__controller .swiper-pagination-bullet-active {
  width: 24px;
  height: 16px;
}

.modal-wrap.popup-zone .swiper__controller .swiper-pagination-bullet-active::before {
  width: 20px;
  background: #d71921;
}

.modal-wrap.popup-zone .swiper__controller .swiper__play {
  display: inline-block;
  margin-left: 20px;
  width: 40px;
  height: 100%;
  background: #fff url("../images/main/ico_stop.png") no-repeat center;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-indent: -99999px;
  vertical-align: top;
  box-sizing: border-box;
}

.modal-wrap.popup-zone .swiper__controller .swiper__play.active {
  background-image: url("../images/main/ico_play.png");
}

.modal-wrap.popup-zone .swiper__button--prev, .modal-wrap.popup-zone .swiper__button--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-indent: -99999px;
  z-index: 9;
}

.modal-wrap.popup-zone .swiper__button--prev {
  left: 0;
  background-image: url("../images/main/ico_main_arrow_R.png");
  background-position: 55%;
  transform: rotate(180deg) translateY(100%);
}

.modal-wrap.popup-zone .swiper__button--next {
  right: 0;
  background-image: url("../images/main/ico_main_arrow_R.png");
  background-position: 55%;
  transform: translateY(-100%);
}

.modal-wrap.popup-zone .modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  background: transparent;
  font-size: 0;
  text-indent: -99999px;
}

.modal-wrap.popup-zone .modal-close span {
  position: relative;
  display: block;
  width: 28px;
  text-align: center;
}

.modal-wrap.popup-zone .modal-close span::before {
  position: absolute;
  left: 0%;
  top: 50%;
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #fff;
  text-align: center;
  content: "";
  transform: rotate(45deg);
}

.modal-wrap.popup-zone .modal-close span::after {
  position: absolute;
  left: 0%;
  top: 50%;
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #fff;
  text-align: center;
  content: "";
  transform: rotate(-45deg);
}

.modal-wrap.popup-zone.open {
  display: block;
}

/*이용가이드*/
.modal-wrap.guide-zone .f_wrapper {
  position: absolute;
  left: 0% !important;
  top: 0% !important;
  transform: none;
  margin: 0 auto;
  max-width: none;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  background-color: #4b4b49;
}

.modal-wrap.guide-zone .modal-head {
  background: #000;
}

.modal-wrap.guide-zone .modal-head h2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  font-family: "pretendard";
}

.modal-wrap.guide-zone .modal-cont-wrap {
  max-height: calc(100vh - 60px);
}

.modal-wrap.guide-zone .modal-cont {
  padding: 0;
}

.modal-wrap.guide-zone .swiper-slide {
  box-sizing: border-box;
}

.modal-wrap.guide-zone .swiper-slide a {
  display: block;
  transition: 0.3s ease;
  margin: 0 auto;
}

.modal-wrap.guide-zone .swiper-slide .img {
  max-width: 1180px;
  height: calc(100vh - 60px);
  margin: 0 auto;
}

.modal-wrap.guide-zone .swiper-slide img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.modal-wrap.guide-zone .swiper__controller {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 1;
}

.modal-wrap.guide-zone .swiper__controller .swiper__pagination {
  display: inline-block;
  padding: 12px;
  width: auto;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  box-sizing: border-box;
}

.modal-wrap.guide-zone .swiper__controller .swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  border-radius: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  vertical-align: top;
  opacity: 1;
  text-indent: -99999px;
}

.modal-wrap.guide-zone .swiper__controller .swiper-pagination-bullet::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background: #999;
  content: "";
}

.modal-wrap.guide-zone .swiper__controller .swiper-pagination-bullet-active {
  width: 24px;
  height: 16px;
}

.modal-wrap.guide-zone .swiper__controller .swiper-pagination-bullet-active::before {
  width: 20px;
  background: #d71921;
}

.modal-wrap.guide-zone .swiper__button--prev, .modal-wrap.guide-zone .swiper__button--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-indent: -99999px;
  z-index: 9;
}

.modal-wrap.guide-zone .swiper__button--prev {
  left: 40px;
  background-image: url("../images/main/ico_main_arrow_R.png");
  background-position: 55%;
  transform: rotate(180deg) translateY(100%);
}

.modal-wrap.guide-zone .swiper__button--next {
  right: 40px;
  background-image: url("../images/main/ico_main_arrow_R.png");
  background-position: 55%;
  transform: translateY(-100%);
}

.modal-wrap.guide-zone.open {
  display: block;
}

.side-nav {
  position: fixed;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  height: auto;
  z-index: 9;
}

.side-nav .side-nav__wrap {
  padding: 15px 20px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
  font-size: 0;
  display: none;
}

.side-nav .side-nav__item {
  width: 50px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  /* 241101 yj nth-child 수정 */
}

.side-nav .side-nav__item + .side-nav__item {
  margin-top: 15px;
}

.side-nav .side-nav__item a, .side-nav .side-nav__item button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 0;
  width: 100%;
}

.side-nav .side-nav__item a .icon, .side-nav .side-nav__item button .icon {
  display: inline-block;
  margin-bottom: 5px;
  width: 40px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
}

.side-nav .side-nav__item a span, .side-nav .side-nav__item button span {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  word-break: keep-all;
}

.side-nav .side-nav__item:hover span {
  text-decoration: underline;
}

.side-nav .side-nav__item.item01 .icon {
  background-image: url("../images/common/ico_sidenav01.png");
}

.side-nav .side-nav__item.item02 .icon {
  background-image: url("../images/common/ico_sidenav02.png");
}

.side-nav .side-nav__item.item03 .icon {
  background-image: url("../images/common/ico_sidenav03.png");
}

.side-nav .side-nav__item.item04 .icon {
  background-image: url("../images/common/ico_sidenav04.png");
}

.side-nav .side-nav__item.item05 .icon {
  background-image: url("../images/common/ico_sidenav05.png");
}

.side-nav .side-nav__item.item06 .icon {
  background-image: url("../images/common/ico_sidenav06.png");
}

.side-nav .side-nav__item.item07 .icon {
  background-image: url("../images/common/ico_sidenav07.png");
}

.side-nav .side-nav__item.item08 .number {
  background: #3772CB;
  color: #fff;
  font-size: 20px;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.side-nav .side-nav__expand {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 60px;
  background-color: #666;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 0 10px;
}

.side-nav .side-nav__expand .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  display: block;
  width: 8px;
  height: 4px;
  background: url("../images/common/ico_triangle_s2.png") no-repeat center;
  display: block;
  margin: 0 auto;
}

.side-nav.active .side-nav__wrap {
  display: block;
}

.side-nav.active .side-nav__expand {
  width: 14px;
  background: #ddd;
  box-shadow: none;
}

.side-nav.active .side-nav__expand .icon {
  background: url("../images/common/ico_triangle_s.png") no-repeat center;
  transform: translate(-50%, -50%) rotate(90deg);
}

.side-nav button.top-button {
  width: 100%;
  background: none;
  background-color: transparent;
}

.side-nav button.top-button .icon {
  display: block;
  margin-bottom: 5px;
  width: 40px;
  height: 4px;
  background: url("../images/common/ico_triangle_s.png") no-repeat center;
}

.side-nav button.top-button span {
  text-align: center;
}

.header__mobile-button {
  display: none;
}

.mobile-quickmenu {
  display: none;
}

.modal-cont .authentication {
  font-size: 0;
  text-align: center;
}

.modal-cont .authentication-type {
  display: inline-block;
  padding: 0;
  width: 182px;
  text-align: center;
  background-color: transparent;
}

.modal-cont .authentication-type.phone .img {
  background-image: url("../images/sub/ico_find-id01.png");
}

.modal-cont .authentication-type.i-pin {
  margin-left: 60px;
}

.modal-cont .authentication-type.i-pin .img {
  background-image: url("../images/sub/ico_find-id02.png");
}

.modal-cont .authentication-type .img {
  display: block;
  width: 100%;
  height: 182px;
  background: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #D8D8D8;
  border-radius: 20px;
  box-sizing: border-box;
}

.modal-cont .authentication-type .btn.submit {
  margin-top: 20px;
}

.modal-cont .find-result {
  padding: 60px 0 80px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.modal-cont .find-result.no-id .img {
  height: 120px;
  background: url("../images/contents/img_character08.png") center no-repeat;
}

.modal-cont .find-result .result-text {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
}

.modal-cont .find-result.has-id {
  padding: 0;
  background-color: transparent;
}

.modal-cont .find-result.has-id .img-box {
  padding: 45px 0;
  background-color: #fff;
  border-radius: 20px;
}

.modal-cont .find-result.has-id .img {
  height: 138px;
  background: url("../images/contents/img_character06-b.png") center no-repeat;
}

.modal-cont .find-result .id {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.modal-cont .find-result .id-box {
  padding: 13px 0;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.modal-cont .find-result .input-box {
  margin-top: 20px;
  font-size: 0;
}

.modal-cont .find-result .input-box > * {
  font-size: 16px;
}

.modal-cont .find-result .input-box .input--text {
  margin-left: 8px;
}

.modal-cont .find-result .input-box .btn.square {
  padding: 7px 22px;
  min-width: auto;
  font-size: 16px;
  box-sizing: border-box;
}

.modal-cont .find-result .desc-box {
  padding: 25px 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.modal-cont .find-result .desc-box ul.basic {
  margin-top: 0;
}

.modal-cont .find-result .desc-box ul.basic li {
  font-size: 14px;
  color: #000;
  text-align: left;
}

/* 통합검색 팝업*/
.unity-search-wrap .btn {
  display: inline-block;
  padding: 7px 20px; /*min-width: 120px;*/
  border: 2px solid transparent;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  vertical-align: middle;
  transition: 0.2s ease;
  text-align: center;
  height: 48px;
  border-radius: 10px;
  min-width: 130px;
  font-size: 16px;
  font-weight: 600;
}

.unity-search-wrap .btn.solid2 {
  background-color: #166235;
  border: 1px solid #166235;
  color: #FFF;
}

.unity-search-wrap .btn.solid2:hover {
  background: #FFF;
  border-color: #166235;
  color: #166235;
}

.unity-search-wrap .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.unity-search-wrap .icon.search-w {
  margin-left: 5px;
  vertical-align: middle;
  transform: translateY(-1px);
  background-image: url("../images/sub/ico_search-w.png");
  background-size: contain;
}

.unity-search-wrap .modal-cont-wrap .modal-cont {
  min-height: auto;
}

.unity-search-wrap .input-group {
  position: relative;
}

.unity-search-wrap .inp {
  padding-left: 80px; /* 250321 (ej) */
  width: calc(100% - 30px);
  /* background: url("../images/common/logo02.png") left center no-repeat; */
  border: none;
  border-bottom: 2px solid #166235;
  border-radius: 0;
  font-size: 18px;
  font-weight: 300;
  height: 48px;
  outline: none; /* 250321 검색어 (ej) */
}

.unity-search-wrap .inp:focus-visible {
  animation: outline 3s ease infinite;
} /* 250321 검색어 (ej) */
@keyframes outline {
  0% {
    border-color: #166235;
  }
  50% {
    border-color: #68d49d;
  }
  100% {
    border-color: #254197;
  }
}
/* .unity-search-wrap .inp:focus-visible { outline:3px dashed #000; } */ /* 250321 검색어 (ej) */
/* 250317 (ej) */
.unity-search-wrap .input-group::before {
  content: "";
  display: inline-block;
  width: 54px; /* 250321 (ej) */
  height: 29px; /* 250321 (ej) */
  position: absolute;
  left: 5px;
  top: 6px; /* 250321 (ej) */
  background: url("../images/common/logo02.png") left center no-repeat;
}

/* // 250317 (ej) */
.unity-search-wrap .btn.solid2 {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50px;
}

.unity-search-wrap .btn.solid2:hover {
  background: #166235;
}

.unity-search-wrap .btn.solid2 span {
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
}


/* 251014 웹 접근성 품질개선 - input/textarea.inp 지우기 버튼 동적 생성 (ej) */
.unity-search-wrap .inp {padding-right: 145px;}
.unity-search-wrap .form-control-clear { position: absolute; right: 145px; top: 50%; transform: translateY(-50%); margin-top: 0;}
/* // 251014 웹 접근성 품질개선 - input/textarea.inp 지우기 버튼 동적 생성 (ej) */



/* width */
@media screen and (max-width: 1300px) {
  /*레이어 팝업*/
  .modal-wrap.popup-zone .swiper-slide a {
    display: block;
    transform: scale(0.8);
  }
  .modal-wrap.popup-zone .swiper-slide .img {
    width: 100%;
    height: 450px;
    border: 15px solid #fff;
    border-radius: 40px;
  }
  .modal-wrap.popup-zone .swiper-slide-active a {
    transform: scale(1);
  }
}
@media screen and (max-width: 1200px) {
  .header {
    height: auto;
  }
  .header .inner {
    width: 100%;
  }
  .header .logo-box {
    position: static;
    transform: translateY(0);
    display: inline-block; /* 250321 font size (ej) */
    padding-top: 19px;
  }
  .header .logo {
    margin-left: 15px;
  }
  .header-gnb {
    position: static;
    margin-top: 15px; /* 250321 (ej) */
    border-top: 1px solid #ddd; /* 250321 (ej) */
  }
  .header-gnb .depth1 {
    display: flex;
  }
  .header-gnb .depth1-item {
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }
  .header-gnb .depth1-item > a {
    padding: 17px 0; /* 250321 (ej) */
    margin: 0; /* 250321 (ej) */
    width: 100%; /* 250319 (ej) */
    text-align: center; /* 250319 (ej) */
    font-size: 22px; /* 250321 (ej) */
  }
  .header-gnb .depth1-item > a::before {
    left: 0;
  } /* 250319 (ej) */
  .header-gnb .depth1-item.active > a::after, .header-gnb .depth1-item:hover > a::after { /* 250319 (ej) */
    position: absolute;
    bottom: 0; /* 250321 (ej) */
    height: 3px;
    width: 110px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-gnb .depth2 {
    background: transparent;
    padding-left: 40px;
  }
  /* 250319 (ej) */
  .header-gnb .depth2-item,
  .header-gnb .depth2-item:first-child,
  .header-gnb .depth2-item:nth-child(3),
  .header-gnb .depth2-item:nth-child(4) {
    min-height: auto;
  }
  /* // 250319 (ej) */
  .header-gnb .depth1-item.active > a::after, .header-gnb .depth1-item:hover > a::after {
    position: absolute; /* 250317 (ej) */
  }
  /* 250319 (ej) */
  /* .header-gnb .depth1-item:nth-child(3),
  .header-gnb .depth1-item:nth-child(4) { position:static;}
  .header-gnb .depth1-item:nth-child(3) ul,
  .header-gnb .depth1-item:nth-child(4) ul { flex-grow:} */
  /* // 250319 (ej) */
  .header-gnb .depth2.active {
    gap: 30px; /* 250317 (ej) */ /* 250319 (ej) */
  }
  .header-gnb .depth2-item > a {
    min-width: -moz-max-content;
    min-width: max-content;
  } /* 250317 (ej) */
  .header-gnb .depth3-item {
    margin-left: 5px;
  } /* 250317 (ej) */
  /* 250319 (ej) */
  .header-gnb .depth2-item {
    flex-grow: 0;
  }
  .header-gnb .depth2.active {
    gap: 0 80px;
  }
  /* 250319 (ej) */
  .header-gnb .depth1-item:nth-child(4) .depth2,
  .header-gnb .depth1-item:nth-child(5) .depth2 {
    left: auto;
    right: 0;
    padding-left: 0;
    padding-right: 30px;
    justify-content: flex-end;
  }
  /* // 250319 (ej) */
  .header-search-btn {
    top: 20px;
    /* right: 130p; */
    transform: translateY(0);
  }
  .header-sitemap-btn { /* 240317 (ej) */
    top: 20px;
    right: 15px;
    transform: translateY(0);
  }
  .header .dim {
    top: 141px; /* 250321 (ej) */
  }
}
@media screen and (max-width: 1024px) {
  .header-gnb .depth1-item > a {
    font-size: 24px;
    padding: 11px 0; /* 250327 (ej) */
  }
  .header .dim {
    top: 132px;
  }
  .wrap .header .mobile-gnb-wrap .banner-link-box {
    padding: 12px 10px; /* 250317 (ej) */
  }
}
@media screen and (max-width: 900px) {
  .header-banner .banner-link-box li {
    margin-right: 10px;
  }
  .header-banner .banner-link-box li a {
    padding-right: 14px;
    background-position: right center;
  }
  .modal-wrap.popup-zone .swiper-container {
    overflow: visible;
  }
  .modal-wrap.popup-zone .swiper-slide a {
    display: block;
    transform: scale(1);
  }
  .modal-wrap.popup-zone .swiper__button--prev {
    left: -16px;
  }
  .modal-wrap.popup-zone .swiper__button--next {
    right: -16px;
  }
  .footer .site-wrap .swiper-title {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header .logo-box {
    padding-top: 22px;
  } /* 250321 (ej) */
  .header .logo {
    margin-left: 0;
    /* 250324 (ej) */
    width: 177px;
    height: 35px;
    background-size: contain;
    /* //250324 (ej) */
  }
  .header-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    z-index: 2;
  }
  .header-banner .banner-link-box {
    display: none;
  }
  .header {
    position: fixed;
    top: 32px;
    left: 0;
    width: 100%;
    height: 80px;
  }
  .header .inner {
    width: auto;
    margin: 0 10px;
  }
  .header .dim {
    display: none;
  }
  .header-gnb {
    display: none;
  }
  .header-sitemap-btn { /* 250317 (ej) */
    display: none;
  }
  /* 250317 (ej) */
  .header-search-btn {
    display: block;
    padding: 25px 0 0 0;
    width: 50px;
    height: 48px;
    background-position: top 5px center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    text-indent: 1px;
    transition: 0.25s ease;
    font-size: 13px;
    font-weight: 400;
    color: #1D1D1D;
    top: 50%;
    transform: translateY(-50%);
    right: 70px;
  }
  .header-search-btn::before {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
  }
  /*// 250317 (ej) */
  .mobile-btn-box {
    display: block;
  }
  .container, #container { /* 250318 선택자 변경 (ej) */
    padding-top: 112px;
  }
  /*모바일 메뉴*/
  /* footer */
  .footer .site-wrap {
    padding-left: 10px;
  }
  .footer .site-wrap .swiper-container {
    display: inline-block;
    width: 1052px;
    padding: 0;
    vertical-align: middle;
    overflow: hidden;
  }
  .footer .site-wrap .swiper-slide a {
    /* padding: 9px 12px; */
    font-size: 17px;
    font-weight: 400;
    /* padding-bottom:7.5px; */ /* 250318 (ej) */
    height: 55px; /* 250331 (ej) */
  }
  .footer .site-wrap .swiper-slide img {
    max-width: calc(100% - 30px);
  } /* 250331 (ej) */
  .footer .site-wrap .swiper-wrapper {
    width: 100%;
    max-width: 920px;
  }
  .footer .site-wrap .swiper-controller {
    display: none;
  }
  .footer .site-wrap .swiper-button {
    display: none;
  }
  .footer-info {
    padding: 32px 0;
  }
  .footer-info .info-desc {
    margin-top: 32px;
  }
  .footer-info .info-desc li {
    margin-top: 24px;
  }
  .footer-info .info-desc li:first-child {
    margin-top: 0;
  }
  .footer-info .info-desc li:last-child {
    margin-top: 10px;
  }
  .footer-info .info-desc em {
    display: block;
    font-weight: 600;
  }
  .footer-info .link-wrap {
    flex-direction: column;
    align-items: end;
    gap: 32px;
    margin-top: 32px;
  }
  .footer-info .link-list {
    width: 100%;
    text-align: left;
  }
  .footer-info .copyright {
    padding-top: 8px;
    margin-top: 32px;
  }
  .footer-info .copyright p {
    text-align: left;
  }
  /*레이어 팝업*/
  .modal-wrap > .f_wrapper {
    padding: 20px;
  }
  .modal-wrap .modal-head h2 {
    max-width: 85%;
    font-size: 20px;
    text-align: left;
    word-break: keep-all;
  }
  .modal-wrap .modal-head h2 + p {
    font-size: 14px;
    text-align: left;
    line-height: 22px;
  }
  .modal-wrap .modal-head h2 + p br {
    display: none;
  }
  .modal-wrap .modal-close {
    right: 20px;
    top: 20px;
    background-size: 20px;
  }
  .modal-wrap .modal-cont a,
  .modal-wrap .modal-cont button {
    outline: none;
  } /* 250328 mobile outline none 처리 (ej) */
  .modal-wrap.popup-zone .modal-cont {
    padding: 20px 16px;
  }
  .modal-wrap.popup-zone .modal-cont .modal__chk {
    position: static;
    margin-top: 20px;
  }
  .modal-wrap.popup-zone .swiper-container {
    overflow: visible;
  }
  .modal-wrap.popup-zone .swiper-slide {
    width: 100%;
    border: 10px solid #fff;
    border-radius: 40px;
    overflow: hidden;
  }
  .modal-wrap.popup-zone .swiper-slide a {
    transform: scale(1);
    height: auto;
    min-height: 200px;
  }
  .modal-wrap.popup-zone .swiper-slide .img {
    height: auto;
    border: 0;
    border-radius: 0;
    padding-bottom: 100%;
    background-color: #eee;
  }
  .modal-wrap.popup-zone .swiper-slide img {
    position: absolute;
    left: 0;
    top: 0;
  }
  .modal-wrap.popup-zone .swiper__button--prev {
    left: -16px;
  }
  .modal-wrap.popup-zone .swiper__button--next {
    right: -16px;
  }
  .modal-wrap.popup-zone .swiper__button--prev, .modal-wrap.popup-zone .swiper__button--next {
    width: 44px;
    height: 44px;
    background-size: 10px;
    border-width: 2px;
  }
  .mobile-gnb .depth2-item > a {
    padding: 12px 0;
  }
  /* 통합검색 팝업*/
  .unity-search-wrap .modal-cont-wrap .modal-cont {
    min-height: auto;
  }
  .unity-search-wrap .inner {
    width: 100%;
  }
  .unity-search-wrap .f_wrapper { /* 250317 (ej) */
    top: 20px !important;
    transform: translateY(0) translateX(-50%);
  }
  .unity-search-wrap .input-group {
    position: relative;
  }
  .unity-search-wrap .input-group::before {
    display: none;
  } /* 250317 (ej) */
  .unity-search-wrap .inp {
    padding-left: 0px;
    width: calc(100% - 15px);
    background: none;
  }
  .unity-search-wrap .btn.solid2 {
    padding: 7px;
    min-width: auto;
    height: 36px;
  }
  .unity-search-wrap .btn.solid2 span {
    display: none;
  }
  .unity-search-wrap .btn.solid2 .icon {
    margin-left: 0;
  }

  
  /* 251014 웹 접근성 품질개선 - input/textarea.inp 지우기 버튼 동적 생성 (ej) */
  .unity-search-wrap .inp { padding-right: 60px; height: 38px;}
  .unity-search-wrap .form-control-clear { right: 46px; top: 11px; transform: none;}
  /* // 251014 웹 접근성 품질개선 - input/textarea.inp 지우기 버튼 동적 생성 (ej) */
}
@media screen and (max-width: 600px) {
  /*레이어 팝업*/
  .modal-wrap.popup-zone .swiper-slide a {
    height: auto;
  }
  .modal-wrap.popup-zone .swiper-slide .img {
    position: relative;
    padding-bottom: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;
  }
  .modal-wrap.popup-zone .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .banner-link-box li {
    margin-right: 5px;
  }
  .wrap .header .mobile-gnb-wrap .header-search-box .inp {
    font-size: 14px;
  }
}
@media screen and (max-width: 410px) {
  .header-banner .text {
    padding-left: 32px;
    font-size: 12px;
  }
  .footer .site-wrap .swiper-slide a {
    font-size: 15px;
  }
  .footer .site-wrap .swiper-slide a::after {
    margin: -2px -6px 0 2px;
    width: 16px;
    height: 16px;
  }
  .banner-link-box .link {
    font-size: 14px;
    padding-right: 14px;
    background-position: center right 3px;
    background: none;
  }
  .mobile-gnb .depth2-item > a {
    font-size: 16px;
  }
  .mobile-gnb .depth3-item > a {
    padding: 7px 0;
    font-size: 14px;
  }
  .footer-info .info-desc {
    font-size: 14px;
    margin-top: 15px;
  }
  .footer-info .link-wrap {
    gap: 15px;
  }
  .footer-info .link-wrap .mailing-service {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #888;
    border-radius: 8px;
  }
  .footer-info .link-wrap .mailing-service::before {
    position: relative;
    display: inline-block;
    top: auto;
    transform: none;
    vertical-align: middle;
    margin-right: 5px;
  }
  .footer-info .link-wrap .mailing-service::after {
    display: none;
  }
}
@media screen and (max-width: 280px) {
  .footer .site-wrap .swiper-slide a {
    font-size: 14px;
  }
  .footer .site-wrap .swiper-slide a::after {
    display: none;
  }
}
/* width */