.wo-show-popup {
	min-width: 360px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	border-radius: 0 0 15px 15px;
	background: #fff;
	box-sizing: border-box;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15);
/* 	padding: 15px 15px 62px; */
	overflow: hidden;
	max-height: 100vh;
}

.wo-show-popup img {
	/* margin-top: 10px; */
	display: block;
}

.wo-show-popup .pop-cont {
	overflow-y: auto;
	padding-bottom: 48px;
}

.wo-show-popup p {
	font-size: 16px;
}

.wo-show-popup .popup-title {
	margin-bottom: 10px;
	font-size: 24px;
	color: #333;
	font-weight: 800;
}

.pop-close-box {
/* 	margin: 48px 0 0; */
	display: flex;
	height: 48px;
	background-color: #444;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.pop-close-box .close-win-btn {
	transition: .3s ease;
	width: 100%;
	display: inline-block;
	height: 27px;
	position: relative;
	background-color: transparent;
	color: #bbb;
	height: 100%;
	font-size: 14px;
}

.pop-close-box .close-win-btn::before {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	background: #565656;
	width: 1px;
	height: 24px;
}

.pop-close-box .close-btn {
	background-color: #444;
	color: #fff;
	width: 100%;
	display: inline-block;
	min-width: 50px;
	text-align: center;
	height: 27px;
	transition: .3s ease;
	height: 100%;
	font-size: 14px;
}

.pop-close-box .close-win-btn:hover, .pop-close-box .close-btn:hover {
	background-color: #333;
}


/* .wo-show-popup button, .wo-show-popup a { outline-color:#68d49d; } 250328  (ej) */

/* @media screen and (max-width: 768px) { */
/* 	.wo-show-popup { left:50% !important; top:50% !important; transform: translate3d(-50%, -50%, 0); width: 95% !important;  height: auto !important;} 250318 (ej) */
/* 	.wo-show-popup img { height:auto;} */
/* 	.wo-show-popup button, .wo-show-popup a { outline:none; } 250328  (ej) */
/* } */