@charset "UTF-8";
pre {
  white-space: pre-line;
}

#container > .inner {
  margin: 30px auto 0;
  width: 100%;
  max-width: 1180px; /*width: 100%;*/
}

input::-moz-placeholder {
  color: #767676;
}

input::placeholder {
  color: #767676;
}

.leftmenu {
  position: relative;
  float: left;
  padding-right: 10px;
  min-width: 250px;
  box-sizing: border-box;
  margin-right: 10px;
  padding-bottom: 80px;
}
.leftmenu::before {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #C6C6C6;
  content: "";
}
.leftmenu__user {
  padding: 20px;
  width: 240px;
  height: 155px;
  background-color: #faf9f3;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftmenu__user--box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.leftmenu__user--box p {
  font-size: 16px;
  color: #000;
  min-width: 100px;
}
.leftmenu__user--box .leftmenu__user--name {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  line-height: 100%;
}
.leftmenu__user--box .leftmenu__user--status {
  font-size: 14px;
  color: #666;
  text-align: left;
  min-width: auto;
  margin-left: 10px;
  word-break: keep-all;
}
.leftmenu__user--link {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}
.leftmenu__user--link a {
  flex-grow: 1;
  display: inline-block;
  height: 28px;
  background: #FFF9E8;
  border: 1px solid #ffa038;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 28px;
}
.leftmenu__user--link a:hover {
  background: #fff;
}
.leftmenu__gnb {
  margin-top: 40px;
}
.leftmenu__gnb--item a {
  display: block;
  padding: 25px 8px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 17px;
  font-weight: 700;
}
.leftmenu__gnb--item a.active {
  background-color: #faf9f3;
  border-bottom: 4px solid #ffa038;
}

/*241220 서브 레이아웃 수정 yj*/
.sub-content {
  padding-top: 60px;
  padding-bottom: 80px;
}

/*241220 서브 레이아웃 수정 yj*/
.breadcrumb {
  display: inline-block;
  width: auto;
  height: 44px;
  background-color: #fff;
  font-size: 0;
  box-sizing: border-box;
}
.breadcrumb-wrap {
  border-bottom: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8; /* 250331  (ej) */
  box-sizing: border-box;
  margin-top:-1px; /* 250331  (ej) */
}
  /* 250324 (ej) */
.breadcrumb .item {
  position: relative;
  display: inline-block;
  margin: 0 0 0 -1px;
  height: 100%;
  border: 1px solid #D8D8D8;
  border-top: 0;
  border-bottom: 0;
  box-sizing: border-box;
  font-size: 16px;/* 250321 font size (ej) */
  font-weight: 400;
  color: #111;
  z-index: 1;
  /* 250212 브레드크럼 수정 yj */
  min-width:150px;
  vertical-align:middle;/* 250327 (ej) */
}
.breadcrumb .item.home { min-width:auto;}
.breadcrumb .item.home a {
  padding: 0 15px 0 10px;
}
.breadcrumb .item.home a::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/common/ico_home.png") center right no-repeat;
  vertical-align: middle;
  content: "";
}
.breadcrumb .item.home a::after {
  display: none;
}
.breadcrumb .item > a {
  display: block;
  padding: 0 40px 0 20px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  /* line-height: 44px; */ /* 250325  (ej) */
  display:inline-flex; /* 250325  (ej) */
  align-items:center; /* 250325  (ej) */

}
.breadcrumb .item > a.child::after {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background: url("../images/common/ico_arrow-down.png") center right no-repeat;
  vertical-align: middle;
  content: "";
  position:absolute;
  right:10px;
  top:50%;
  transform:translateY(-50%);
}
  /* // 250324 (ej) */
.breadcrumb .item .bread-depth2 {
  display: none;
  position: absolute;
  left: -1px;
  top: 100%;
  width: calc(100% + 2px);
  background-color: #fff;
  box-sizing: border-box;
  z-index: 1;
  border: 1px solid #D8D8D8;
}
.breadcrumb .item .bread-depth2 li {
  width: 100%;
}
.breadcrumb .item .bread-depth2 a {
  display: block;
  padding: 13px 5px 13px 18px;/* 250324 font size (ej) */
  width: 100%;
  letter-spacing:-.5px; /* 250416 (ej) */
}
.breadcrumb .item .bread-depth2 a:hover {
  background-color: #EDF9F0;
}
.breadcrumb .item.active > a::after {
  transform: translateY(-50%) rotate(180deg);
}
.breadcrumb .item.active .bread-depth2 {
  display: block;
}

.tab-menu {
  display: flex;
  z-index: 1;
  font-size: 0;

  border-left: 1px solid #d8d8d8; /* 250326  (ej) */
}
.tab-menu .item {
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 56px;
  background: #f9f9f9;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  font-size: 19px;
  font-weight: 600;
  color: #555555;
  text-align: center;
  word-break: keep-all;
  box-sizing: border-box;
  cursor: pointer;
  transition-delay: 0.1s;
  border-left: 0;
}
 /* 250326  (ej) */
/* .tab-menu .item:first-child {
  border-left: 1px solid #d8d8d8;
} */
.tab-menu .item + .tab__menu--item {
  border-left: 1px solid transparent;
}
.tab-menu .item.active {
  background: #C9EFC5;
  /* border: 1px solid #62D491; */ /* 250326  (ej) */
  border-bottom-width: 2px;
  color: #000;
  position:relative;  /* 250326  (ej) */
}
.tab-menu .item.active::after { /* 250326  (ej) */
  content: '';
  position: absolute;
  display: inline-block;
  left: -2px;
  top: -1px;
  width: calc(100% + 3px);
  box-sizing: border-box;
  height: calc(100% + 3px);
  border: 1px solid #62D491;
  border-bottom-width: 2px;
}

.tab-menu .item.active:first-child::after { left:-1px;  width: calc(100% + 2px);}/* 250326  (ej) */
.tab-menu.type2 {
  gap: 20px;
  border-top:0;  /* 250326  (ej) */
  border-left:0; /* 250326  (ej) */
}
.tab-menu.type2 .item {
  border: 2px solid #d8d8d8;
  border-width: 2px;
  border-radius: 10px;
}
.tab-menu.type2 .item.active {
  border-color: #62D491;
}

.tab-menu.type2 .item.active::after { display:none;}/* 250326  (ej) */

/*통합검색*/
.tab-menu.check .item {
  height: 80px;
  gap: 8px;
}
.tab-menu.check .item.active::before {
  width: 20px;
  height: 20px;
  background: url("../images/sub/ico_check.png") center no-repeat;
  content: "";
}

.tab-menu-button.active + .tab-menu {
  z-index: 1;
}

.sub-content .tab-menu-button {
  display: none;
  padding: 0 16px;
  width: 100%;
  height: 40px;
  background-color: #FFF9E8;
  position: relative;
  border: 1px solid #ffa038;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  text-align: left;
  line-height: 40px;
}
.sub-content > .sub-content {padding:0;} /* 250331  (ej) */
.sub-content .tab-menu-button::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/sub/ico_select.png") no-repeat center;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
}
.sub-content .tab-menu-button.active::before {
  transform: translateY(-50%) rotate(180deg);
}

.sub-content > .tab-menu + h3, .sub-content > .tab-menu .h3 {
  margin-top: 40px;
}

@media screen and (max-width: 1400px) {
  .sub-content .tab__menu .tab__menu--item {
    font-size: 16px;
  }
}
@media screen and (max-width: 1280px) {
  #container > .inner {
    margin-top: 0;
    padding-top: 30px;
  }
}
@media screen and (max-width: 900px) {
.tab-menu .item { font-size:16px;} /* 250326  (ej) */
}
@media screen and (max-width: 768px) {
/*   .breadcrumb {
    height: auto;
  }
  .breadcrumb .item {
    vertical-align: middle;
    border: 0;
    min-width:auto;  250324 (ej)
  }
  .breadcrumb .item > a {
    display: inline-block;
    padding: 0 6px;
    width: auto;
    height: 32px;
    line-height: 32px;
    color: #1D1D1D;
    text-decoration: underline;
    vertical-align: middle;
  }
  .breadcrumb .item > a::after {
    display: none;
  }
  .breadcrumb .item + .item::before {
    display: inline-block;
    margin: 0 4px;
    width: 16px;
    height: 16px;
    background: url("../images/common/ico_mobile-breadcrumb.png") center no-repeat;
    vertical-align: middle;
    content: "";
  }
  .breadcrumb .item.active > a::after {
    transform: rotate(0deg);
  }
  .breadcrumb .item.active .bread-depth2 {
    display: none;
  } */
  .breadcrumb .home {
    display: none;
  }
  .breadcrumb-wrap .inner { width:100%; }
  .breadcrumb { width:100%; display:flex;}
  .breadcrumb .item { width:100%; min-width: auto;}
  .breadcrumb .item > a { padding:0 34px 0 14px; font-size:14px;}
  .breadcrumb .item .bread-depth2 a {padding:9px 14px; font-size:14px;}
  .breadcrumb .item:last-child { border-right:0;}
/*   .breadcrumb .home + .item::before {
    display: none;
  } */
  .sub-content .tab__menu {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .sub-content .tab__menu .tab__menu--item {
    border-top: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    height: auto;
    line-height: 130%;
    padding: 10px 0;
  }
  .sub-content .tab__menu .tab__menu--item + .tab__menu--item {
    border-left: 1px solid #d8d8d8;
  }
  .sub-content .tab__menu .tab__menu--item.active {
    border-bottom-width: 1px;
    border-color: #d8d8d8;
  }
  .sub-content .tab__menu--button {
    display: block;
    margin-top: 20px;
  }
  .sub-content .tab__menu--button + .tab__menu {
    display: none;
  }
  .sub-content .tab__menu--button.active + .tab__menu {
    display: block;
    position: absolute;
    width: 100%;
  }
  .sub-content .tab__menu--button.active + .tab__menu .tab__menu--item {
    padding: 10px;
    justify-content: start;
  }
  .sub-content .tab__menu.monthly {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
  }
  .sub-content .tab__menu.monthly .tab__menu--item {
    width: 20%;
    max-width: 80px;
    border-top: 1px solid #ddd;
    border-left: 0;
  }
  .sub-content .tab__menu.monthly .tab__menu--item:first-child {
    border-left: 1px solid #ddd;
  }
  .sub-content {
    padding-top: 20px;
    padding-bottom: 80px;
  }

  /* 250326 (ej) */
  .tab-menu {
    flex-wrap: wrap;
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
  }
  .tab-menu .item {
    /* border-left: 1px solid #DDDDDD; *//* 250326 (ej) */
    font-size:16px; /* 250318 (ej) */
    word-break:break-all;/* 250325 (ej) */
    height:48px;/* 250325 (ej) */
    flex-grow:1;/* 250325 (ej) */
    border-top: 0;
    border-left: 0;/* 250326 (ej) */
  }
  /* .tab-menu .item:first-child {border-left: 0;} */
  .tab-menu .item.active::after { height:calc(100% + 2px); left: -1px; width: calc(100% + 2px);}
  /* // 250326 (ej) */
}


@media screen and (max-width: 500px) {
  .breadcrumb .item > a {padding:0 24px 0 9px;} /* 250325  (ej) */
  .breadcrumb .item > a::after { right:5px;} /* 250325  (ej) */
}