.visual {
  width: 100%;
  height: 360px;
  display: inline-block;
  background-color: #DFF3E7;
  vertical-align: top;
  position: relative;
  z-index: 1;
}
.visual-inner {
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
  width: 94%;
  box-sizing: border-box;
  padding: 0 0;
}
.visual-swiper {
  height: 100%;
}
.visual-img {
  display: block;
  margin: 0 auto;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
  transition: 0.4s ease;
  opacity: 0;
  transform: translateY(20px);
  transition-delay: 0.3s;
}
.visual .swiper-slide {
  background-color: #DFF3E7;
}
.visual .swiper-slide.swiper-slide-active .visual-img {
  transition-delay: 0.7s;
}
.visual a {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.visual-text-inner {
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
}
.visual-slide {
  overflow: hidden;
  background-color: #DFF3E7;
}
.visual-txt1 {
  display: block;
  font-size: 26px;
  font-weight: 600;
  line-height: 130%;
  font-weight: 300;
  color: #333;
}
.visual-txt1 .big {
  font-weight: 600;
}
.visual-button {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  text-indent: -99999px;
  transition: 0.3s ease;
  z-index: 1;
  border: 1px solid #E4E4E4;
}
.visual-button.swiper-button-prev {
  left: 20px;
  background: #fff url("../images/main/ico_visual_prev.png") no-repeat 45% 50%;
}
.visual-button.swiper-button-next {
  right: 20px;
  background: #fff url("../images/main/ico_visual_next.png") no-repeat 55% 50%;
}
.visual-button:hover {
  background-color: rgb(255, 255, 255);
}
.visual .control-paging {
  position: absolute;
  bottom: 20px;
  z-index: 2;
}
.visual .swiper-pagination {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  position: relative;
  background-color: #fff;
  padding: 12px 15px;
  min-width: 80px;
  border-radius: 100px;
}
.visual-control-box .swiper-pagination-bullet {
  transition: 0.3s ease;
  opacity: 1;
  position: relative;
  width: 16px;
  height: 16px;
  background: none;
  border-radius: 10px;
  display: inline-block;
  text-indent: -99999px;
}
.visual-control-box .swiper-pagination-bullet::before {
  content: "";
  transition: 0.3s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 10px;
  width: 8px;
  height: 8px;
  background-color: #8E8E8E;
}
.visual-control-box .swiper-pagination-bullet-active {
  width: 28px;
}
.visual-control-box .swiper-pagination-bullet-active::before {
  width: 20px;
  background-color: #29B58C;
}
.visual-control {
  font-size: 0;
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
}
.visual .control-button {
  text-indent: -99999px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100px;
  background: #fff url("../images/main/ico_stop.png") no-repeat center;
  border: 1px solid #E4E4E4;
}
.visual .control-button.play {
  display: none;
  background-image: url("../images/main/ico_play.png");
}
.visual .swiper-wrapper {
  height: 100%;
}
.visual .swiper-slide-active .visual-img {
  opacity: 1;
  transform: translateY(0);
}
.visual .link-inner {
  max-width: 1180px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 100%;
  top: 0;
  height: 100%;
  text-align: right;
}
.visual-link-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.visual-link-box .item {
  position: relative;
  display: block;
  width: 365px; /* 250605 링크 아이콘 변경 (khs) */
}
.visual-link-box .item a {
  transition: 0.3s ease;
  background: rgba(255, 255, 255, 0.7);
  text-align: left;
  padding: 20px;
  border: 1px solid #9DC8FF; /* 250604 링크 아이콘 변경 (yz) */
  border-radius: 20px;
  font-size: 26px;
  font-weight: 600;
  color: #111;
}
.visual-link-box .item .ico {
  transition: 0.3s ease;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(0);
}
.visual-link-box .item a::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/main/ico_arrow_right.png") no-repeat center;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.visual-link-box .ico.info {
  background: url("../images/main/ico_vis_link1.png") no-repeat center;
}
.visual-link-box .ico.job {
  background: url("../images/main/ico_vis_link2.png") no-repeat center;
}
.visual-link-box .ico.future { /* 250604 링크 아이콘 변경 (yz) */
  background: url("../images/main/ico_vis_link4.png") no-repeat center;
}
.visual-link-box .item a:hover {
  background-color: #fff;
}
.visual-link-box .item a:hover .ico {
  transform: translateY(-5px);
}
.visual .swiper-button-next.swiper-button-disabled,
.visual .swiper-button-prev.swiper-button-disabled {
  opacity: 0.7;
  background-color: #d0e9da;
}

.section {
  margin-top: 80px;
}
.section .section-tit {
  display: inline-block;
  font-size: 26px;
  font-weight: 600;
  color: #000;
  margin-right: 6px;
}
.section .more-btn {
  display: inline-block;
  width: 28px;
  height: 32px;
  background: url("../images/main/ico_morebtn.png") no-repeat center;
  transition: 0.3s ease;
}
.section .more-btn:hover {
  transform: rotate(180deg);
}
.section .section-txt {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #555;
}

.contents {
  padding-bottom: 80px;
}

.section.cardnews-section .inner {
  font-size: 0;
}
.section.cardnews-section .inner > * {
  font-size: 16px;
}

.cardnews-wrap {
  width: 380px;
  display: inline-flex;
  margin-right: 20px;
  flex-wrap: wrap;
  overflow: hidden;
}
.cardnews-wrap .section-tit {
  display: inline-block;
  order: 1;
}
.cardnews-wrap .cardnews-swiper-wrap {
  display: block;
  order: 3;
  margin-top: 20px;
  width: 100%;
}
.cardnews-wrap .cardnews-swiper {
  padding: 0 3px 6px;
  min-height: 160px;
}
.cardnews-wrap .cardnews-swiper a {
  display: block;
}
.cardnews-wrap .more-btn {
  order: 2;
}
.cardnews-wrap .swiper-slide {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}
/* 250929 품질개선 (yz) */
.cardnews-wrap .swiper-slide a:focus-visible::before {
  outline: 3px dashed #2e56d8;
  outline-offset: -2px;
  position: absolute;
  width: 94%;
  height: 94%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  z-index: 10;
}
/* 250929 품질개선 (yz) */
.cardnews-wrap .img-box { /*width: 180px; height: 180px;*/
  display: inline-block;
  padding-bottom: 100%;
}
.cardnews-wrap img {
  width: 100%;
 /*  height: 100%; */ /* 250327  (ej) */
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s ease;
}
.cardnews-wrap .cover {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 38px;
  background: rgba(56, 106, 35, 0.6);
  color: #fff;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding: 9px 4px;
  display: inline-block;
  transition: 0.3s ease;
}
.cardnews-wrap .cover .txt {
  font-size: 17px; /* 250321 font size (ej) */
  max-width: 90%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardnews-wrap .swiper-controller {
  position: relative;
  text-align: center;
  margin-top: 11px;
}
.cardnews-wrap .blind {
  position: absolute;
  left: 0;
  top: 0;
}
.cardnews-wrap .swiper-pagination {
  position: relative;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  bottom: auto;
  width: 67px;
  text-align: center;
  z-index: 1;
}
.cardnews-wrap .swiper-pagination span {
  color: #666;
  font-size: 17px;
  font-weight: 600;
}
.cardnews-wrap .swiper-pagination .swiper-pagination-current {
  color: #223504;
}
.cardnews-wrap .swiper-prev, .cardnews-wrap .swiper-next {
  position: relative;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 100px;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
  vertical-align: middle;
}
.cardnews-wrap .swiper-prev {
  background: url("../images/main/ico_arrow_prev.svg") no-repeat;
  background-position: 45% 50%;
}
.cardnews-wrap .swiper-next {
  background: url("../images/main/ico_arrow_next.svg") no-repeat;
  background-position: 55% 50%;
}
.cardnews-wrap .swiper-slide:hover img {
  transform: scale(1.05);
}
.cardnews-wrap .swiper-slide:hover .cover {
  background: rgba(42, 77, 27, 0.8);
}

.quick-menu-wrap {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.quick-menu-wrap a {
  display: block;
}
.quick-menu-wrap .quick-menu-box {
  display: inline-block;
}
.quick-menu-wrap .quick-menu-box:first-child {
  margin-right: 30px;
}
.quick-menu-wrap .quick-ico-list {
  margin-top: 36px;
}
.quick-menu-wrap .quick-item {
  display: inline-block;
  text-align: center;
}
.quick-menu-wrap .quick-item:first-child {
  margin-right: 38px;
}
.quick-menu-wrap .ico {
  transition: 0.3s ease;
  width: 160px;
  height: 160px;
  border-radius: 160px;
  border: 1px solid #ddd;
  background-color: #FAFFFC;
  transition: 0.3s ease;
  display: block;
}
.quick-menu-wrap .ico::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-out;
  background-repeat: no-repeat;
  background-position: center;
}
.quick-menu-wrap .ico.system::before {
  background-image: url("../images/main/ico_quick_system.png");
}
.quick-menu-wrap .ico.stats::before {
  background-image: url("../images/main/ico_quick_stats.png");
}
.quick-menu-wrap .ico.learning::before {
  background-image: url("../images/main/ico_quick_learning.png");
}
.quick-menu-wrap .ico.interview::before {
  background-image: url("../images/main/ico_quick_interview.png");
}
.quick-menu-wrap .ico.video::before {
  background-image: url("../images/main/ico_quick_video.png");
}
.quick-menu-wrap .item-tit {
  word-break: keep-all;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  display: block;
}
.quick-menu-wrap .quick-item:hover .ico {
  background-color: #edfcf0;
  border-color: #62d491;
}
.quick-menu-wrap .quick-item:hover .ico::before {
  animation: hover 1s infinite;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.webzine-section .inner {
  font-size: 0;
}

.webzine-wrap {
  margin-right: 20px;
  display: inline-flex;
  width: 322px;
  flex-wrap: wrap;
  vertical-align: top;
}
.webzine-wrap .section-tit {
  order: 1;
}
.webzine-wrap .section-txt {
  order: 3;
  width: 100%;
}
.webzine-wrap .more-btn {
  order: 2;
}
.webzine-wrap .webzine-list {
  order: 4;
  width: 100%;
  margin-top: 20px;
}
.webzine-wrap .webzine-list .item {
  transition: 0.3s ease;
  border: 1px solid #ddd;
  height: 442px;
  border-radius: 10px;
  overflow: hidden;
  display: none;
}
.webzine-wrap .webzine-list .item a {
  display: block;
}
.webzine-wrap .webzine-list .item:first-child {
  display: block;
}
.webzine-wrap .webzine-list .item:hover {
  border-color: #000;
}

.board-wrap {
  display: inline-flex;
  vertical-align: top;
  flex-wrap: wrap;
  width: calc(100% - 342px);
}
.board-wrap .section-tit {
  order: 1;
}
.board-wrap .section-txt {
  width: 100%;
  order: 3;
}
.board-wrap .more-btn {
  order: 2;
}
.board-wrap .board-list-wrap {
  order: 4;
}

.board-list-wrap {
  margin-top: 20px;
  font-size: 17px;
  color: #555;
  width: 100%;
}
.board-list-wrap .board-tab-box {
  padding-left: 40px;
  display: flex;
  gap: 10px 40px;
  flex-wrap: wrap;
}
.board-list-wrap .board-tab-btn {
  display: inline-block;
  font-size: 24px;
  color: #767676;
  font-weight: 600;
  position: relative;
  background-color: transparent;
  line-height: 100%;
  transition: 0.3s ease;
}
.board-list-wrap .board-tab-btn:hover {
  color: #555;
}
.board-list-wrap .board-tab-btn::before {
  content: "";
  transition: 0.3s ease;
  display: inline-block;
  width: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: -6px;
  background: transparent;
  height: 14px;
  z-index: -1;
}
.board-list-wrap .board-tab-btn.active {
  color: #333;
}
.board-list-wrap .board-tab-btn.active::before {
  background: #62D491;
  width: calc(100% + 40px);
  left: -40px;
}
.board-list-wrap .board-list-box {
  margin-top: 20px;
}
.board-list-wrap .board-list-box .board-list {
  display: none;
}
.board-list-wrap .board-list-box .board-list.active {
  display: block;
}
.board-list-wrap .board-list-box .item {
  border: 1px solid #ccc;
  position: relative;
  margin-top: 16px;
  border-radius: 10px;
  transition: 0.3s ease;
  height: 87px;
}
.board-list-wrap .board-list-box .item:first-child {
  margin-top: 0;
}
.board-list-wrap .board-list-box .item > a,
.board-list-wrap .board-list-box .item .middle { /* 250416 (ej) */
  padding: 17px 20px;
  display: block;
  font-size: 0;
  height: 100%;
}
.board-list-wrap .board-list-box .date {
  color: #666;
  vertical-align: bottom;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 20px;
  bottom: 17px;
}
.board-list-wrap .board-list-box .type {
  width: 75px; /* 250321 font size (ej) */
  text-align: center;
  display: inline-block;
  padding: 4px 5px;
  line-height: 100%;
  border-radius: 100px;
  background-color: #666;
  font-size: 16px;  /* 250321 font size (ej) */
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-weight: 300;
}
.board-list-wrap .board-list-box .txt-box {
  vertical-align: top;
  display: inline-block;
  margin: 0 20px;
  width: calc(100% - 200px);
}
.board-list-wrap .board-list-box .tit {
  font-size: 19px;
  font-weight: 600;
  color: #333;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width:100%; /* 250416 (ej) */
  display:inline-block;/* 250416 (ej) */

}
.board-list-wrap .board-list-box .txt {
  font-size: 17px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 8px;
  font-weight: 300;
}
.board-list-wrap .board-list-box .item:hover {
  background-color: #fff;
  border-color: #000;
}

.board-list-wrap .board-list-box .item:hover .tit { text-decoration: underline;}
.link-banner {
  display: flex;
  gap: 0 20px;
}
.link-banner .item {
  width: 100%;
  /* background-color: #DFE8F4; *//* 250319 (ej) */
  border-radius: 10px;
  font-size: 17px;
  color: #555;
  text-align: center;
  overflow:hidden;/* 250319 (ej) */
}
.link-banner .item a {
  display: block;
  height: 100%;
}
.link-banner .item > a {
  /* padding: 20px 25px; */ /* 250319 (ej) */
  height: 100%;
}
.link-banner .item-middle {
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.link-banner .item .txt-box {
  min-height: 96px;
  line-height: 130%;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  position: relative;
  word-break: keep-all;
}
.link-banner .item .txt-box .tit {
  font-size: 19px;
  font-weight: 600;
  display: block;
  width: 100%;
}
.link-banner .item .txt-box .tit > span {
  font-size: 17px;
}
.link-banner .item .txt-box .txt {
  display: inline-block;
  margin-top: 12px;
  margin-right: 10px;
}
.link-banner .item .txt-box ul {
  font-size: 14px;
  display: inline-block;
}
.link-banner .item .txt-box li {
  margin-top: 4px;
  position: relative;
  padding-left: 10px;
}
.link-banner .item .txt-box li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 1px;
  background-color: #555;
  position: absolute;
  left: 0;
  top: 7px;
}
.link-banner .item .txt-box img {
  max-width: 100%;
}
.link-banner .ico {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.link-banner .more-box {
  display: inline-block;
  margin-left: auto;
  margin-top: auto;
}
.link-banner .more {
  transition: 0.3s ease;
  background: #fff url("../images/main/ico_arrow_next.svg") no-repeat center right 15px;
  background-size: 5px;
  padding: 5px 30px 4px 15px;
  border-radius: 100px;
  color: #555;
  font-size: 17px;
  display: inline-block;
  border: 1px solid transparent;
  display: none;
}
.link-banner .item:hover .more {
  background-color: #fff;
}

@media screen and (max-width: 1350px) {
  .visual-inner {
    width: 100%;
    padding: 0 30px;
    position: relative;
  }
  .visual-control-box {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    z-index: 2;
  }
  .visual-button {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .visual .control-paging {
    margin: 0 8px;
    display: inline-block;
    position: relative;
    bottom: 0;
  }
  .visual-button.swiper-button-prev {
    background-size: 10px;
    margin-top: 0;
    left: 0;
  }
  .visual-button.swiper-button-next {
    background-size: 10px;
    margin-top: 0;
    right: 0;
  }
  .visual .swiper-button-next.swiper-button-disabled, .visual .swiper-button-prev.swiper-button-disabled {
    background-color: #f7f7f7;
  }
  .quick-menu-wrap {
    width: calc(100% - 400px);
    display: inline-flex;
    gap: 0 30px;
  }
  .quick-menu-wrap .quick-menu-box {
    width: 50%;
  }
  .quick-menu-wrap .quick-menu-box:first-child {
    margin: 0;
  }
  .quick-menu-wrap .quick-ico-list {
    display: flex;
    gap: 30px;
  }
  .quick-menu-wrap .quick-item {
    vertical-align: top;
    width: 50%;
  }
  .quick-menu-wrap .quick-item:first-child {
    margin: 0;
  }
  .quick-menu-wrap .ico {
    position: relative;
    width: auto;
    height: auto;
    padding-bottom: 100%;
  }
  .quick-menu-wrap .ico::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 1200px) {
  .visual-link-box {
    right: 20px;
  }
  .visual-link-box .item {
    width: 290px; /* 250605 링크 아이콘 변경 (khs) */
  }
  .visual-link-box .item a {
    font-size: 18px;  /* 250605 링크 아이콘 변경 (khs) */
  }
  .quick-menu-wrap .quick-ico-list {
    gap: 10px;
  }
  .quick-menu-wrap {
    gap: 0 10px;
  }
  .quick-menu-wrap .item-tit {
    font-size: 18px;
  }
}
@media screen and (max-width: 1083px) {
  .visual-img {
    width: 300px;
    -o-object-fit: contain;
       object-fit: contain;
    transition: none;
  }
  .visual-txt1 {
    font-size: 20px;
  }
  .visual-text-inner {
    top: 45%;
  }
  .quick-menu-wrap {
    width: 100%;
  }
  .cardnews-wrap {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .quick-menu-wrap {
    gap: 0 28px;
  }
  .quick-menu-wrap .quick-ico-list {
    gap: 0 30px;
    margin-top: 20px;
  }
  .quick-menu-wrap .item-tit {
    margin-top: 15px;
  }
}
@media screen and (max-width: 900px) {
  .visual {
    height: 460px;
  }
  .visual-inner {
    padding-left: 60px;
  }
  .visual-img {
    width: auto;
    margin: 40px 0 0;
    width: 280px;
    height: 207px;
    -o-object-fit: contain;
       object-fit: contain;
    transform: none;
  }
  .visual-text-inner {
    top: 55%;
    transform: none;
  }
  .board-list-wrap .board-tab-box {
    gap: 0;
    padding-left: 20px;
  }
  .board-list-wrap .board-tab-btn.active::before {
    width: calc(100% + 20px);
    left: -20px;
  }
  .board-list-wrap .board-tab-btn {
    font-size: 20px;
    margin-right: 10px;
  }
  .section .section-txt {
    font-size: 14px;
  }
  .board-list-wrap .board-list-box .tit {
    font-size: 16px;
  }
  .board-list-wrap .board-list-box .txt {
    font-size: 16px;
    padding-right: 100px;
    background:none; /* 250416 (ej) */
    padding-left: 0;  /* 250416 (ej) */
  }
  .board-list-wrap .board-list-box .txt-box {
    width: calc(100% - 85px);
    margin: 0 0 0 10px;
  }
  .board-list-wrap .board-list-box .item > a,
  .board-list-wrap .board-list-box .item .middle { /* 250416 (ej) */
    padding: 17px 15px;
  }
  .board-list-wrap .board-list-box .date {
    bottom: 20px;
  }
  .link-banner {
    gap: 10px;
  }
  .link-banner .item > a {
    /* padding: 10px; */ /* 250326  (ej) */
  }
}
@media screen and (max-width: 768px) {
  .visual {
    height: 490px;
  }
  .visual-img {
    width: 330px;
  }
  .visual-txt1 {
    font-size: 24px;
  }
  .section .section-tit {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
  }
  .quick-menu-wrap .ico::before {
    background-size: 40%;
  }
  .quick-menu-wrap .quick-ico-list {
    gap: 0 15px;
    margin-top: 10px;
  }
  .link-banner {
    display: block;
  }
  .link-banner .item {
    margin-top: 15px;
  }
  .link-banner .item:first-child {
    margin-top: 0;
  }
  .link-banner .more-box {
    display: none;
  }
  .link-banner .item .txt-box {
    text-align: center;
    width: 100%;
  }
  .link-banner .item > a {
    /* padding: 15px; */ /* 250326  (ej) */
  }
}
@media screen and (max-width: 768px) and (min-width: 601px) {
  .visual-link-box .item {
    width: 190px;
  }
  .visual-link-box .item .ico {
    display: block;
    margin: 0 auto 10px;
  }
  .visual-link-box .item a {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
  .visual-link-box .item a::before {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 701px) {
  .board-list-wrap .board-list-box .date {
    top: 17px;
    bottom: auto;
  }
  .board-list-wrap .board-list-box .txt-box {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .board-list-wrap .board-list-box .item {
    height: 88px;
  }
  .board-list-wrap .board-list-box .txt {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .board-wrap {
    width: 100%;
    margin-top: 50px;
  }
  .webzine-wrap {
    width: 100%;
    margin-right: 0;
  }
  .webzine-wrap .webzine-list .item {
    height: auto;
  }
  .webzine-wrap .webzine-list .item img {
    width: 100%;
    max-width: 100%;
  }
  .board-list-wrap .board-list-box .tit {
    padding-right: 100px;
  }
}
@media screen and (max-width: 600px) {
  .visual {
    height: auto;
    background-color: #fff;
  }
  .visual-inner {
    height: 424px;
    padding: 0 30px;
    background-color: #DFF3E7;
  }
  .visual-txt1 {
    font-size: 20px;
  }
  .visual-img {
    width: 100%;
    height: 207px;
    margin-top: 15px;
  }
  .visual .link-inner {
    position: relative;
    display: block;
    transform: none;
    left: 0;
    margin-top: 50px;
    padding: 0 16px;
  }
  .visual-link-box .item {
    width: 100%;
  }
  .visual-link-box .item a {
    font-size: 22px;
    padding-left: 40px;
    border: 1px solid #9DC8FF;
  }
  .visual-link-box {
    position: relative;
    transform: none;
    left: 0;
    top: 0;
  }
  .quick-menu-wrap {
    gap: 0 10px;
  }
  .quick-menu-wrap .quick-ico-list {
    gap: 0 10px;
  }
  .quick-menu-wrap .item-tit {
    font-size: 14px;
  }
  .board-list-wrap .board-tab-btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 410px) {
  .board-list-wrap .board-list-box .tit {
    padding-right: 0;
  }
  .board-list-wrap .board-list-box .txt {
    padding-right: 0;
  }
  .board-list-wrap .board-list-box .type {
    display: block;
  }
  .board-list-wrap .board-list-box .txt-box {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
  .board-list-wrap .board-list-box .item {
    height: 110px;
  }
  .board-list-wrap .board-list-box .date {
    top: 20px;
  }
  .visual-link-box .item a {
    padding-left: 20px;
    font-size: 16px;
  }
}
@media screen and (max-width: 280px) {
  .visual-txt1 {
    font-size: 16px;
  }
  .visual-inner {
    padding: 0 15px;
  }
  .quick-menu-wrap {
    flex-direction: column;
    gap: 20px;
  }
  .quick-menu-wrap .quick-menu-box {
    width: 100%;
  }
  .board-list-wrap .board-tab-box {
    padding-left: 0;
  }
  .board-list-wrap .board-tab-btn.active::before {
    left: 0;
    width: 100%;
  }
}